@tailwind base;
@tailwind components;
@tailwind utilities;
::selection{
    background: rgb(72, 98, 247);
    color: white;
}
.nav.active{
    height: 100vh;
    flex-direction: column;
}
.links.active{
    display: block;
}
.nav{
    transition: 0.5s;
}
.links.active ul{
    display: flex;
}
.logo{
    color: transparent;
    background: linear-gradient(to right, purple, orange);
    -webkit-background-clip: text;
    font-family: serif;
}
.content{
    background: blue;
}
.banner{
    width: 600px;
    height: 300px;
    border-radius: 3em;
    margin-left: auto;
   margin-right: auto;
   margin-bottom: 1em;
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Radius of the scrollbar thumb */
  }
  * {
    scrollbar-color: #888 transparent; /* Color of the scrollbar thumb and track */
    scrollbar-width: thin; /* Width of the scrollbar */
  }
  *::-moz-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
  }
  
