.content h2{
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
.content table{
    font-family: poppins;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 15px #0000001a;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.content table th, .content table td{
    padding: 5px;
    text-align: left;
    border: 1px solid #dddd;
    text-align: left;
}
.content table th{
    background: #da5d5d;
    font-weight: bold;
}
.content ul{
    list-style-type: disc;
    padding-left: 1em;
}
.content hr{
    color: rgb(213, 213, 213);
    background-color: rgb(207, 200, 200);
    height: 0.5px;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}
.content ol{
    padding-left: 1em;
    list-style-type: decimal;
}
.content img{
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 1em;
    width: 100%;
    border: 1px solid grey;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.content p{
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.content pre{
    margin-top: 1em;
    margin-bottom: 2em;
}
.content pre code{
    border-radius: 1em;
}
.content h3{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;  
}
.content h4{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;  
}
.content h5{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;  
}
.content h6{
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;  
}
.content em{
    font-style: normal;
    border-radius: 2px;
    font-weight: bold;
    background: rgb(246, 151, 151);
    color: rgb(194, 1, 1);
}
.content h3:hover{
    color: cyan;
}
